<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cafe</title>
    <link rel="icon" href="favicon.ico">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
<h1>카페 목록</h1>
<div class="cafe-container" id="cafeContainer">
    <p>카페 목록 불러오는 중...</p>
</div>
<script>
    $.ajax({
        url: '/api/cafes',
        method:'GET',
        success:
        function (data){
            if (data.length>0){
                $.each(data,
                function (index,cafe){
                    const cafeInfo = `
<p><strong> ID : </strong>${cafe.id}</p>
<p><strong> Name : </strong>${cafe.name}</p>
<p><strong> Address : </strong>${cafe.address}</p>
<p><strong> PhoneNumber : </strong>${cafe.phoneNumber}</p>
<p><strong> OpeningTime : </strong>${cafe.openingTime}</p>
<p><strong> ClosingTime : </strong>${cafe.closingTime}</p>
<p><strong> Description : </strong>${cafe.description}</p>
`;
                    $('#cafeContainer').append(cafeInfo);
                })
            }else {
                $('#cafeContainer').append("<p>정보가 조회되지 않습니다.</p>")
            }
        },
        error:
        function (){
            alert("컨트롤러에 문제가 생겨서 데이터를 가져오지 못합니다.")
        }
    })
</script>
</body>
</html>