<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main page</title>
    <link rel="icon" href="favicon.ico">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
<h1>안녕하세요. 홈페이지입니다.</h1>
<div class="main-container" id="mainContainer">
    <p>데이터를 불러오는 중...</p>
</div>
<script>
    /*
    * HTTP 200 OK
    *  -> 요청 성공, 데이터를 본문에 보여줌 반환
    *  -> HTML JSON 등
    *  -> 요청한 크기만큼 유동적으로 늘어남
    *  -> GET POST PUT 결과 반환

    * HTTP 204 No Content
    *  -> 요청 성공, 반환할 본문 없음
    *  -> DELETE, PUT 결과 반환 필요 없을 때
    *  -> 0
    * */
    $.ajax({
        url:'/api/users',
        method:'get',
        success:
            function (data) {
                if(data.length > 0) { //DB에서 컨트롤러로 전달받은 데이터가 1개 이상이라면
                    $.each(data,
                        function (index, user) {
                            const userInfo = `
                                                            <p><a href="${user.id}"> ID : </a>${user.id}</p>
                                                            <p><strong> Nickname : </strong>${user.nickname}</p>
                                                            <p><strong> Name : </strong>${user.username}</p>
                                                            <p><strong> Email : </strong>${user.email}</p>
                                                            `;
                            $("#mainContainer").append(userInfo);
                        }
                    )
                } else {        //DB에서 컨트롤러로 전달받은 데이터가 하나도 없으면
                    $("#mainContainer").append("<p>정보가 조회되지 않습니다.</p>");
                }
            },
        error :
            function (){
                alert("컨트롤러에 문제가 생겨서 데이터를 가져오지 못합니다.");
            }
    })

    $.ajax({
        url: '/api/data',
        method: "get",
        success:
            function (data){
                $("#mainContainer").append("<p>"+ data.msg +"</p>");
                $("#mainContainer").append("<p>"+ data.status +"</p>");
            }
    })
    $.ajax({
        url:'/api/hello',
        method:"GET",
        success:
            function (data){
                $("#mainContainer").append("<p> "+ data +"</p>");
            },
        error:
            function (){
                $("#mainContainer").html("<p>Controller에서 데이터 가져오지 못했습니다.</p>")
            }

    })
</script>
</body>
</html>