<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>유저 상세 조회</title>
    <link href="favicon.ico" rel="icon">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <style>
        #userDetail #profileImg {
            width: 300px;
            height: 300px;
        }
    </style>
</head>
<body>
<h1>사용자 정보</h1>
<div id="userDetail">
    <img id="profileImg">
    <p id="username"></p>
    <p id="email"></p>
</div>

    <script>
        /*
        400 (Bad Request)   = 잘못된 요청
        클라이언트가 잘못된 데이터를 백엔드에게 보냈거나
        요청이 서버의 요구 사항을 충족하지 못하기 때문에 원하는 데이터를 줄 수 없는 상태
        404 500 504 에러
        */
        // 아바타 랜덤 생성 완성하기 => https://api.dicebear.com/9.x/icons/svg?seed=시드코드
        // 로 접속하면 JSON 형식이 아니라 이미지 하나밖에 없기 때문에 굳이 ajax를 사용하지 않아도 됨!!
        const seed = Math.random().toString(36).substring(2,15);
        console.log("SSSSEEEEEDDDD" + seed);
        const API_IMG_URL = `https://api.dicebear.com/9.x/icons/svg?seed=${seed}`;
        /*
        $.ajax({
            url: API_IMG_URL,
            method: 'GET',
            success:
            function (){

            }
        })
        */

        const queryParams = new URLSearchParams(window.location.search);
        console.log(window.location.search);
        const userId = queryParams.get('id');
        console.log("userId : " + userId);
        const examId = 1;
        $.ajax({
            url: `/api/user/${userId}`, //ajaxController 작성한 api 작성
            method: 'get',
            success:
                function (data) {
                    console.log("data.length : " + data.length); // undefined 로 나올 경우 데이터가 배열 형태가 아니거나 객체가 아닐 때 출력
                    console.log("=================================================");
                    console.log(data); // 대괄호로 데이터가 시작되지 않기 때문에 배열이 아님! 중괄호가 시작인 데이터는 일반 데이터
                    if(data) {
                        $("#username").html(` <p>이름 : ${data.username}</p>`);
                        $("#email").html(`<p>이메일 : ${data.email}</p>`);
                        $('#profileImg').attr('src',API_IMG_URL);
                    } else {
                        $("#userDetail").html('<p>일치하는 회원을 조회할 수 없습니다.</p>')
                    }
                    },
            error :
                function () {
                    $("#userDetail").html('<p>컨트롤러에서 데이터를 가져오는데 문제가 발생했습니다.</p>')
                }
        })
    </script>

</body>
</html>